{% extends "layout.html" %}
{% from "_form_macros.html" import render_errors, render_recipe_edit_form %}

{% block content %}

<div class="edit-recipe">
  <div class="page-header">
    <h2>Edit Recipe</h2>
  </div>

<div class="container">
  <form action="{{ url_for('recipes.admin_edit_recipe', recipe_id=recipe.id) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ render_recipe_edit_form(form, recipe) }}

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-success">Edit Recipe</button>
      </div>
    </div>

  </form>
</div>
</div>

{% endblock %}